.idea
.clangd
.qoder
.claude
.cursorignore
python/build
python/dist
python/*.egg-info
tmp-rpmbuild
cmake-build-debug
/.cache/
.vscode/
compile_commands.json
/build/
/scripts/cufile.log
/scripts/logs/
/scripts/results/
__pycache__/
/third_party/liburing/
/third_party/liburing-*.tar.gz
gen-compile-commands.sh
